<html>
	<head>
		<script type="text/javascript" src="jquery.js"></script>  
		<script>
			$(document).ready(function() {
   				$("td").click(function() {
   					if ($(this).attr('correct') == '1') {
						$(this).addClass("selected_ok");
   					} else {
	     				$(this).addClass("selected");
     				}
   				});
 			});
		</script>
		<style>
		 	table {border-collapse: collapse; }
			td { 
				border-style: solid; 
				border-width: 1px;  
				font-size: 14px; 
				font-family: Courier; 
				cursor: pointer;
				padding-left: 5px;
				padding-right: 5px;
			}
  			
  			.selected_ok  { background: green;}
  			.selected { background:yellow; }
  			
  		</style>
	</head>
	<body>
		test id: {{seed}} 

		{% if mode == 't' %}
			<a href="?mode=q">questions</a>
			<table>
			{% for row in table %}
				<tr> 
					{% for col in row %}
						<td {% if col[1] %}correct="1"{%endif%} nowrap="nowrap">
							{{ col[0][0] }} {{ col[0][1] }} 
						</td>
					{% endfor %}
				</tr>
			{% endfor %}
			</table>
		{% endif %}

		{% if mode == 'q' %}
			<a href="?mode=t">test</a>
			 {% for q in query %} 
			 <p > 
			 	{{q[0][1]}} {{q[1][1]}} {{q[0][0]}} {{q[1][0]}}  
			 </p>
			 {%endfor%} 
		{% endif %}

	</body>
</html>

